.heading{
  padding: 50px 0 25px;
}
#title{
  background-color: #ff4c68;
  color: #fff;
  text-align:left;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}
.container-fluid{
  padding: 3% 10% 7%;
}
.iphone6{
  transform: rotate(25deg);
  width:60%;
  position: absolute;
  right: 30%;
}
.img{
  position: relative;
}
body{
  font-family: 'Montserrat-light', sans-serif;
  text-align:center;
}
p{
  color: #8f8f8f;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}


/* Headings */

.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;

}


 /* navigation bar */
 .navbar{
   padding: 0;
   padding-bottom: 4rem;
 }
 .navbar-brand{
   font-family: "Ubuntu";
   font-size: 2.5rem;
   font-weight: bold;
 }
 .nav-item{
   padding: 0 18px;
 }
 .nav-link{
   font-size: 1.2rem;
   font-family: "Montserrat-light";
 }

/* Download button */
.Download-button{
  margin: 5% 3% 5% 0;
}
/* Features section */

#features{
  padding: 7% 15%;
  z-index: 1;
  position: relative;
}
.feature-box{
  padding: 4.5%;

}
.features-heading{
  font-size: 1.5rem;
}
.icon{
 color:#ef8172;
 margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}

/* Testimonials section */
#testimonials{
  background-color: #ef8172;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.carousel-item{
    padding: 7% 15%;
}
.test-image{
  width: 10%;
  border-radius: 100%;
  margin: 5px 5px 5px 0;
}
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-img{
  width: 15%;
  margin: 20px 20px 50px;
}
 /* Pricing Section */

 #pricing{
   padding: 100px;
}
 .pricing-column{
   padding: 3% 2%;
 }
 .pricing-text{
   font-size: 3rem;
   line-height: 1.5;
 }

/* CTA section */
#cta{
  padding: 7% 15% 5%;
}

/* Footer section */

#footer{
  padding-top: 10px;
}
.social-icon{
  margin:20px 10px;
}



 @media (max-width:995px){
   .iphone6{
     position: static;
     transform: rotate(0);
   }
   #title{
     text-align:center;

   }
 }
